/* FILTRO DE ARTIGOS */

.filtro-artigo {
    color: #521313;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 20%;
    margin-right: 20%;
    text-align:left;
}

.titulo-filtro-artigo {
    font-size: large;
    margin-bottom: 25px;
    text-align: center;
}

.box-lista-artigo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: auto;
    width: 100%;
}

.lista-artigo {
    margin: 0;
    border-bottom: 2px solid #521313;
    padding: 10px;
    padding-left: 5px;
}

.pagina-lista-artigo {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    font-size: large;
    align-items: center;
}

/* Não consegui fazer o ponto embaixo dos números, deixei uma barra msm. 
Ass: Paulo Victor*/
.numero-pagina {
    margin: 0 5px;
    padding: 0 5px;
    border-bottom: 3px solid #521313;
}

.guia {
    padding: 0 10px;
    font-size: small;
}