.cadastro-login {
    background-color: #521313;
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: center;
    margin-bottom: 100px;
    padding-top: 85px;
    padding-bottom: 85px;
}

.cadastro-box {
    background-color: #fff;
    color: #000;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 10px;
}

.cadastro-box input {
    margin-bottom: 7px;
}

.cadastro-box a {
    color: #521313;
}

.cadastro-box p {
    font-size: 11px;
    text-align: center;
}

input {
    outline: 0;
}

.intro {
    margin-top: 50px;
}

.intro p, .intro a {
    width: 400px;
    margin-top: 20px;
    color: #fff;
}

/*Botões de Enviar*/
.botao-enviar {
    background-color: #521313;
    width: 100px;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    display: block;
    margin: 20px auto;
}

.botao-enviar:hover {
    cursor: pointer;
    background-color: #6b1d1d;
}

/*login do evento*/
.nomeEvento {
    font-size: 20px;
    color: #521313;
    text-align: center;
}

.colaboradores {
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 10px;
    width: 205px;
    height: 100px;
    text-align: center;
}

.colabButton {
    background-color: #521313;
    color: #fff;
    padding: 4px;
    width: 180px;
    border: none;
    border-radius: 4%;
    align-self: center;
    margin: 10px;
}

.colabButton a {
    color: #fff;
    text-decoration: none;
}