/*PESQUISA*/

.pesquisa {
    background-color: #521313;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa-de-busca {
    background-color: #fff;
    width: 550px;
    height: 30px;
    margin-top: 50px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
}

.caixa-de-busca input {
    border: none;
    outline: 0;
    width: 500px;
    height: 30px;
}

.caixa-de-busca img {
    width: 22.5px;
    padding-left: 8px;
    padding-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.anos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 30px;
}

.ano {
    margin: 20px;
}

/*ARTIGOS RECENTES*/

.artigos-recentes {
    color: #521313;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.titulo {
    min-width: 27.5%;
    margin-right: 5%;
}

.titulo p {
    margin-top: 20px;
}

.artigos {
    display: flex;
    flex-wrap: wrap;
}

.artigo {
    background-color: #521313;
    border-radius: 10px;
    color: white;
    margin-left: 5%;
    margin-bottom: 30px;
    min-width: 22%;
    max-width: 22%;
    padding: 20px;
    font-size: smaller;
} 

/*QUEM SOMOS*/

.quem-somos {
    color: #521313;
}

.quem-somos h1 {
    background-color: #521313;
    color: #fff;
    padding-top: 5px;
    padding-left: 10%
}

.quem-somos h1::before {
    margin-right: 5px;
    content: "";
    display: block;
    height: 26px;
    width: 3px;
    background: #ffffff;
    margin-bottom: -28px;
    margin-left: -10px;
}

.quem-somos p {
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
}