/*Dados*/

.dados {
    background-color: #521313;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 7%;
    margin-bottom: 30px;
}

.dados h1::before {
    margin-right: 5px;
    content: "";
    display: block;
    height: 26px;
    width: 3px;
    background: #fff;
    margin-bottom: -28px;
    margin-left: -10px;
}

/*Sobre*/

.sobre {
    color: #521313;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 7%;
}

.sobre h1::before {
    margin-right: 5px;
    content: "";
    display: block;
    height: 26px;
    width: 3px;
    background: #521313;
    margin-bottom: -28px;
    margin-left: -10px;
}

/*Artigos*/

.artigosMostrados h1 {
    background-color: #521313;
    color: #fff;
    padding-left: 7%;
    padding-top: 5px;
}

.artigosMostrados {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.artigos {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 20.5px;
    margin-left: 7%;
    margin-bottom: 60px;
}

.artigo-escrito {
    background-color: #521313;
    border-radius: 10px;
    color: white;
    margin-left: 5%;
    margin-bottom: 30px;
    min-width: 150px;
    max-width: 150px;
    height: 180px;
    padding: 20px;
    font-size: smaller;
}

.artigo-escrito h3 {
    text-align: center;
}

.artigo-escrito a {
    color: #fff;
}

/*Botão baixar pdf - artigos*/

.sobre button {
    background-color: #521313;
    color: #fff;
    padding: 7px;
    width: 120px;
    border: none;
    border-radius: 4%;
    align-self: center;
}

.sobre button:hover {
    cursor: pointer;
    background-color: #6b1d1d;
}

/*Eventos orgnizados - colaborador*/

.eventosColaborador h1 {
    color: #521313;
    padding-left: 7%;
    padding-top: 5px;
}

.eventosColaborador h1::before {
    margin-right: 5px;
    content: "";
    display: block;
    height: 26px;
    width: 3px;
    background: #521313;
    margin-bottom: -28px;
    margin-left: -10px;
}

table {
    margin: 30px auto;
}

table a {
    text-decoration: none;
    color: #521313;
    margin-left: 12px;
}

table hr {
    margin: 7px 7px;
    width: 1100px;
}

/*Guia*/

.pagina-lista {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    color: #521313;
}

/*Caixa de pesquisa de artigos*/

.tituloPesquisa {
    display: flex;
    flex-direction: row;
    background-color: #521313;
    justify-content: space-between;
    padding-top: 6px;
    padding-bottom: 6px;
}

.caixa-de-busca {
    background-color: #fff;
    width: 250px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-right: 7%;
}

.caixa-de-busca input {
    border: none;
    outline: 0;
    width: 250px;
    height: 25px;
}

.caixa-de-busca img {
    width: 22.5px;
    padding-left: 8px;
    padding-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

/*Usuário Cad*/

/*Botão de adicionar*/

.botao-adicionar {
    display: flex;
    justify-content: center;
}

.botao-adicionar button {
    color: #fff;
    background-color: #521313;
    border: none;
    border-radius: 4%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 50px;
    align-self: center;
}

.botao-adicionar button:hover {
    background-color: #6b1d1d;
    cursor: pointer;
}

.botao-adicionar button img {
    width: 20px;
}

.botao-adicionar a {
    text-decoration: none;
}

/*Botões de gerenciar*/

.dados img {
    width: 20px;
    margin-left: 5px;
}

.tituloCad {
    display: flex;
    flex-direction: row;
    z-index: 1000;
}