/*Dados*/

.dados {
    background-color: #521313;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 7%;
    margin-bottom: 30px;
}

.dados h1::before {
    margin-right: 5px;
    content: "";
    display: block;
    height: 26px;
    width: 3px;
    background: #fff;
    margin-bottom: -28px;
    margin-left: -10px;
}

/*Sobre*/

.sobre {
    color: #521313;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 7%;
}

.sobre h1::before {
    margin-right: 5px;
    content: "";
    display: block;
    height: 26px;
    width: 3px;
    background: #521313;
    margin-bottom: -28px;
    margin-left: -10px;
}

/*Artigos*/

.artigosMostrados h1 {
    background-color: #521313;
    color: #fff;
    padding-left: 7%;
    padding-top: 5px;
}

.artigosMostrados {
    margin-top: 30px;
}

.artigos {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 7%;
    margin-bottom: 50px;
}

.artigo-escrito {
    background-color: #521313;
    color: #fff;
    width: 200px;
    padding: 10px;
    border-radius: 4%;
}

/*botão baixar pdf*/

.sobre button {
    background-color: #521313;
    color: #fff;
    padding: 7px;
    width: 120px;
    border: none;
    border-radius: 4%;
    align-self: center;
}

.sobre button:hover {
    cursor: pointer;
    background-color: #6b1d1d;
}

/*Evento dos colaboradores*/
