@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Hanuman', serif;
}

body {
    min-height: 100%;
}

h1 {
    font-size: 26px;
}

h1::before {
    margin-right: 5px;
    content: "";
    display: block;
    height: 26px;
    width: 3px;
    background: #ffffff;
    margin-bottom: -28px;
    margin-left: -10px;
}

.titulo h1::before {
    margin-right: 5px;
    content: "";
    display: block;
    height: 26px;
    width: 3px;
    background: #521313;
    margin-bottom: -28px;
    margin-left: -10px;
}

.dados h1::before {
    margin-right: 5px;
    content: "";
    display: block;
    height: 26px;
    width: 3px;
    background: #521313;
    margin-bottom: -28px;
    margin-left: -10px;
}

/*Header*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 100%;
    box-shadow: 1px 0px 10px;
    height: 50px;
    justify-content: space-between;
    background-color: #fff;
    z-index: 1000;
}
  
.logo {
    width: 175px;
    padding-left: 100px;
}
/* Modifiquei o gap e padding-right em .navlist para 50px, 
pra adicionar Eventos e Artigos na Navbar nas telas:
1-Eventos.php
2-Eventos-Cad.php
3-Artigos.php
4-Artigos-Cad.php
***Lembrar de avisar e depois adicionar Enventos e Artigos nas outras telas***
Ass.: Paulo Victor */
.navlist {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-right: 50px;
}
  
.navlist a {
    color: #521313;
    font-weight: bold;
    text-decoration: none;
}

.navlist img {
    width: 16px;
    height: 15px;
}

.navlist a:hover {
    color: #6b1d1d;
}


/*PESQUISA ANOS*/

.pesquisa {
    background-color: #521313;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa-de-busca {
    background-color: #fff;
    width: 550px;
    height: 30px;
    margin-top: 50px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
}

.caixa-de-busca input {
    border: none;
    outline: 0;
    width: 500px;
    height: 30px;
}

.caixa-de-busca img {
    width: 22.5px;
    padding-left: 8px;
    padding-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.anos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 30px;
}

.ano {
    margin: 20px;
}

/* 
1-Resolvi adicionar os filtros e listas aqui pq também são usados em várias telas.
2-Atualizei os nomes das classes pra nomes mais genéricos pras várias telas.
Ass.: Paulo*/

/* FILTROS E LISTAS */

.filtro {
    color: #521313;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 20%;
    margin-right: 20%;
    text-align:left;
}

.titulo-filtro {
    font-size: large;
    margin-bottom: 25px;
    text-align: center;
}

.lista-filtro {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: auto;
    width: 100%;
}

.lista {
    margin: 0;
    border-bottom: 2px solid #521313;
    padding: 10px;
    padding-left: 5px;
}

.pagina-lista {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    font-size: large;
    align-items: center;
}

/* Não consegui fazer o ponto embaixo dos números, deixei uma barra msm. 
Ass.: Paulo Victor*/
.numero-pagina {
    margin: 0 5px;
    padding: 0 5px;
    border-bottom: 3px solid #521313;
}

.guia {
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
}


/*Footer

Obs.: Não consegui alinhar o footer com flexbox pra deixar responsivo. 
Ass.: João. */

/* Obs.: Dei uma melhorada no Footer:
1- Mexi na proporção do logo da rural, pq tava diferente do original,
2- Mexi no flexbox pra alinhar o footer, agora os dois elementos estão
 mantendo o alinhamento conforme aumenta ou diminui a janela.
3- O fato de o "© UFRRJ 2022. All Rights Reserved." quebrar de linha 
me incomoda, mas não consegui resolver, é a vida rs.
Ass.: Paulo */


footer {
    background-color: #521313;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    gap: 5px;
    padding-top: 20px;
}

footer p {
    margin-left: 39%;
}

footer img {
    margin-left: 10%;
    width: 150px;
    height: 30px;
}
