@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Hanuman', serif;
}

body {
    min-height: 100%;
    position: relative;
}

h1 {
    font-size: 21px;
}

h1::before {
    margin-right: 5px;
    content: "";
    display: block;
    height: 24px;
    width: 3px;
    background: #ffffff;
    margin-bottom: -24px;
    margin-left: -12px;
}

.titulo h1::before {
    margin-right: 5px;
    content: "";
    display: block;
    height: 26px;
    width: 3px;
    background: #521313;
    margin-bottom: -28px;
    margin-left: -10px;
}

.dados h1::before {
    margin-right: 5px;
    content: "";
    display: block;
    height: 26px;
    width: 3px;
    background: #521313;
    margin-bottom: -28px;
    margin-left: -10px;
}